﻿
@using FizzBuzz.Web.Models
@model FizzBuzz.Web.Models.HomeViewModel
@{
    ViewBag.Title = "FizzBuzz Test";
}

@using (Html.BeginForm("GetFizzBuzz", "Home", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <h4>Please input a number between 1 to 1000</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.Number, new {@class = "control-label"})
        <div>
            @Html.TextBoxFor(m => m.Number, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Number, "", new {@class = "text-danger"})
        </div>
    </div>
    <p>
        <input type="submit" value="FizzBuzz" class="btn btn-default" />
    </p>
}

@if (TempData["FizzBuzz"] != null)
{
    foreach (var print in ((FizzBuzzModel) TempData["FizzBuzz"]).Prints)
    {
        if (print == "fizz")
        {
            <p style="color:#0000ff">
                @print
            </p>
        }
        else if (print == "buzz")
        {
            <p style="color: #00ff00">
                @print
            </p>
        }
        else
        {
            <p>
                @print
            </p>
        }
    }
}